@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark: #191D2D;
    --light: #F7F7F7;
    --border-radius: 8px;

    --background: var(--light);
    --text-color: var(--dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--dark);
        --text-color: var(--light);
    }
}

body {
    background: var(--background);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}